!practica2/Imagen/
practica2/Imagen/obj/*
practica2/Imagen/bin/*
practica2/Imagen/lib/*
practica2/Imagen/imagenes/*

practica2/Racional/*
practica2/Imagen/.vscode
practica2/Imagen/*.ppm
practica2/Imagen/*.pgm
*.pdf
