!practica2/Imagen/
practica2/Imagen/obj/*
practica2/Imagen/bin/*
practica2/Imagen/lib/*
practica2/Imagen/imagenes/*
!practica2/Imagen/doc/Doxy-file
practica2/Imagen/.vscode
practica2/Imagen/*.ppm
practica2/Imagen/*.pgm
*.pdf

practica3/obj/*
practica3/bin/*
practica4/.vscode/c_cpp_properties.json
practica4/.vscode/settings.json
practica4/añopasao.zip
practica4/bin/test
practica4/bin/usoguia
practica4.zip
practica5/bin/pruebarotacion
practica5/bin/pruebapegado
practica5/bin/pruebarotacion
practica5/.vscode/settings.json
practica5/.vscode/c_cpp_properties.json
practica5/.DS_Store
practica5/.vscode/settings.json
practica5/.vscode/settings.json
practica5/bin/pruebarotacion
*.o
*.o
practica5/.DS_Store
*.json
practica5/bin/pruebarotacion
practica5/obj/imagen.o
practica5/obj/imagenES.o
practica5/obj/pruebarotacion.o
practica5/.vscode/settings.json
practica5/mascara_R2.pgm
practica5/mascara_R3.pgm
practica5/.vscode/settings.json
practica5/bin/rutas_aereas
practica5/bin/rutas_aereas
*/bin/*
practica5/R2.ppm
practica5/R3.ppm
practica5/bin/rutas_aereas
practica5/.vscode/settings.json
practica5/bin/rutas_aereas
practica5/.vscode/settings.json
